body{
font-family:Arial;
background:#f2f2f2;
}

header{
background:#0a66c2;
color:white;
padding:15px;
text-align:center;
}

.container{
width:90%;
max-width:600px;
margin:auto;
}

.post{
background:white;
padding:15px;
border-radius:8px;
margin-top:15px;
}

.form input, .form textarea{
width:100%;
padding:10px;
margin-top:10px;
}

button{
background:#0a66c2;
color:white;
border:none;
padding:10px;
margin-top:10px;
width:100%;
}
